/* Bulma Breakpoints */
/*
mobile: up to 768px
tablet: from 769px
desktop: from 1024px
widescreen: from 1216px
fullhd: from 1408px
*/

.dev-border {
  /* border: dotted 1px #999; */
}
.section {
    padding: 3rem 2.0rem;
}
.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1790px;
}

.contact .full-screen-height {
    height: 100vh;
    overflow: hidden;
}
.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.contact .container .columns {
    display: flex;
}


@media only screen and (min-width: 769px) {

    .section {
      padding: 3rem 2.5rem;
    }
  
}

@media only screen and (max-width: 1023px) {
  
  .main-wrapper {
    min-height: 100vh;
    padding-top: 80px;
  }
  .contact .main-wrapper {
    padding-top: 0;
  }
  
}

@media only screen and (min-width: 1024px) {
  
  .full-screen-height {
    height: 100vh;
    overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
}

@media only screen and (min-width: 1024px) and (max-height: 700px){
  
  .main-wrapper {
    min-height: 100vh;
    padding-top: 180px
  }
  .full-screen-height {
    height: auto;
  }
  
}

@media only screen and (max-height: 900px) and (min-width: 1024px) {
  
  /* .work .main-wrapper {
    min-height: 100vh;
    padding-top: 150px
  }
  .work .full-screen-height {
    height: auto;
  } */
  
}

@media only screen and (min-width: 1216px) {

}

@media only screen and (min-width: 1408px) {
  
}

@media only screen and (max-height: 600px) {

}