<section class="section">
         
      <div class="container">

          <div class="columns dev-border">
                        
              <div class="column">
                  <div class="content-wrapper slide-in-from-left editable">
                      <p>To inquire about projects of any kind, please contact at:<br /><a href="mailto:hello@theintimatetable.co.nz">hello@theintimatetable.co.nz</a></p>
                      <p>&nbsp;</p>
                  </div>
              </div>
                            
              <div class="column">
                    <div class="content-wrapper slide-in-from-left editable">
                      <p class="has-text-right-tablet"><a class="instagram" target="_blank" href="https://www.instagram.com/theintimatetable/">Instagram</a></p>
                      <p class="has-text-right-tablet">&copy; 2022 The Intimate Table. All rights reserved</p>
                    </div>
              </div>
            
          </div>

        </div>

</section>