<title>{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title}}{% endif %} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | replace: '"',"'" }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <!-- Facebook Open Graph -->
    {% if site.social.facebook_app_id %}<meta property="fb:app_id" content="{{ site.social.facebook_app_id }}" />{% endif %}
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title}}{% endif %}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% if page.image %}
    <meta property="og:image" content="{{ site.imgix_url }}{{ page.image }}?w=600&h=315&fit=crop" />
    {% elsif page.summary_image %}
    <meta property="og:image" content="{{ site.imgix_url }}{{ page.summary_image }}?w=600&h=315&fit=crop{% if page.summary_image_crop_position %}&crop={{ page.summary_image_crop_position }}{% endif %}" />
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.social.default_image }}" />
    {% endif %}
    <meta property="og:image:width" content="600" /><meta property="og:image:height" content="315"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    {% if page.date %}<meta property="og:updated_time" content="{{ page.date | date: date_to_xmlschema }}" />{% endif %}
    <!-- End Facebook Open Graph -->

    <!-- Twitter  -->
    <!-- End Twitter  -->

    <!-- Google Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Website",
        "name": "{{ site.title }}",
        "headline": "{{ page.meta_title }}",
        "description": "{{ page.description }}",
        "url": "{{ site.url }}"
    }
    </script>
    <!-- End Google Structured Data -->